g2p-en==2.1.0
inflect==4.1.0
librosa==0.10.0.post2
matplotlib<3.8
numba==0.57.1
pypinyin==0.39.0
pyworld==0.3.4
PyYAML==5.4.1
tensorboard==2.13.0
tgt==1.4.4
tqdm==4.46.1
unidecode==1.1.1
# install torch separately
# pip install --pre torch torchvision torchaudio --index-url https://download.pytorch.org/whl/nightly/rocm5.7
